.elementor-1488 .elementor-element.elementor-element-cd380b4 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --background-transition: 0.3s;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.elementor-1488 .elementor-element.elementor-element-cd380b4:not(.elementor-motion-effects-element-type-background),
.elementor-1488 .elementor-element.elementor-element-cd380b4>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var( --e-global-color-9032779);
}

.elementor-1488 .elementor-element.elementor-element-cd380b4,
.elementor-1488 .elementor-element.elementor-element-cd380b4::before {
    --border-transition: 0.3s;
}

.elementor-1488 .elementor-element.elementor-element-cd2ed4f {
    --display: flex;
    --background-transition: 0.3s;
}

.elementor-1488 .elementor-element.elementor-element-d486e5a {
    width: var( --container-widget-width, 103.824%);
    max-width: 103.824%;
    --container-widget-width: 103.824%;
    --container-widget-flex-grow: 0;
}

.elementor-1488 .elementor-element.elementor-element-d486e5a.elementor-element {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-1488 .elementor-element.elementor-element-35a3c36 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-1488 .elementor-element.elementor-element-30ab0c9 .gva-navigation-menu ul.gva-nav-menu>li .submenu-inner,
.gva-navigation-menu ul.gva-nav-menu>li ul.submenu-inner {
    min-width: 250px;
}

.elementor-1488 .elementor-element.elementor-element-30ab0c9 .gva-navigation-menu ul.gva-nav-menu>li {
    color: var( --e-global-color-bd67e54);
}

.elementor-1488 .elementor-element.elementor-element-30ab0c9 .gva-navigation-menu ul.gva-nav-menu>li>a {
    color: var( --e-global-color-bd67e54);
}

.elementor-1488 .elementor-element.elementor-element-60724ef {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --justify-content: flex-end;
    --align-items: center;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-1488 .elementor-element.elementor-element-1763756 {
    width: var( --container-widget-width, 22.9%);
    max-width: 22.9%;
    --container-widget-width: 22.9%;
    --container-widget-flex-grow: 0;
}

.elementor-1488 .elementor-element.elementor-element-1763756.elementor-element {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-1488 .elementor-element.elementor-element-6023bc2 {
    width: var( --container-widget-width, 19.923%);
    max-width: 19.923%;
    --container-widget-width: 19.923%;
    --container-widget-flex-grow: 0;
}

.elementor-1488 .elementor-element.elementor-element-6023bc2.elementor-element {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-1488 .elementor-element.elementor-element-cdbb8bf {
    width: var( --container-widget-width, 22.9%);
    max-width: 22.9%;
    --container-widget-width: 22.9%;
    --container-widget-flex-grow: 0;
}

.elementor-1488 .elementor-element.elementor-element-cdbb8bf.elementor-element {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-1488 .elementor-element.elementor-element-9fe4c32 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --justify-content: flex-start;
    --align-items: center;
    --flex-wrap: nowrap;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 1px;
    --padding-right: 0px;
}

.elementor-1488 .elementor-element.elementor-element-9fe4c32.e-con {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-1488 .elementor-element.elementor-element-e457eef {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
    border-style: solid;
    --border-style: solid;
    border-color: var( --e-global-color-bd67e54);
    --border-color: var( --e-global-color-bd67e54);
    box-shadow: 0px 50px 10px 0px rgba(0, 0, 0, 0.47);
}

.elementor-1488 .elementor-element.elementor-element-e457eef:not(.elementor-motion-effects-element-type-background),
.elementor-1488 .elementor-element.elementor-element-e457eef>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var( --e-global-color-9032779);
}

.elementor-1488 .elementor-element.elementor-element-e457eef,
.elementor-1488 .elementor-element.elementor-element-e457eef::before {
    --border-transition: 0.3s;
}

.elementor-1488 .elementor-element.elementor-element-6342300 {
    --display: flex;
    --background-transition: 0.3s;
}

.elementor-1488 .elementor-element.elementor-element-506baae {
    --display: flex;
    --background-transition: 0.3s;
}

.elementor-1488 .elementor-element.elementor-element-8d2c900.elementor-element {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-1488 .elementor-element.elementor-element-b9b0e21.elementor-element {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-1488 .elementor-element.elementor-element-9728b57.elementor-element {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-1488 .elementor-element.elementor-element-f046137 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --justify-content: center;
    --align-items: center;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 20px;
}

.elementor-1488 .elementor-element.elementor-element-f046137.e-con {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-1488 .elementor-element.elementor-element-2f31346 .hfe-nav-menu__toggle,
.elementor-1488 .elementor-element.elementor-element-2f31346 .hfe-nav-menu-icon {
    margin: 0 auto;
}

.elementor-1488 .elementor-element.elementor-element-2f31346 li.menu-item a {
    justify-content: space-between;
}

.elementor-1488 .elementor-element.elementor-element-2f31346 li .elementor-button-wrapper {
    text-align: space-between;
}

.elementor-1488 .elementor-element.elementor-element-2f31346.hfe-menu-item-flex-end li .elementor-button-wrapper {
    text-align: right;
}

.elementor-1488 .elementor-element.elementor-element-2f31346 .hfe-flyout-wrapper .hfe-side {
    width: 300px;
}

.elementor-1488 .elementor-element.elementor-element-2f31346 .hfe-flyout-open.left {
    left: -300px;
}

.elementor-1488 .elementor-element.elementor-element-2f31346 .hfe-flyout-open.right {
    right: -300px;
}

.elementor-1488 .elementor-element.elementor-element-2f31346 .hfe-flyout-content {
    padding: 30px;
    background-color: #FFFFFF;
}

.elementor-1488 .elementor-element.elementor-element-2f31346 .menu-item a.hfe-menu-item {
    padding-left: 15px;
    padding-right: 15px;
}

.elementor-1488 .elementor-element.elementor-element-2f31346 .menu-item a.hfe-sub-menu-item {
    padding-left: calc( 15px + 20px);
    padding-right: 15px;
}

.elementor-1488 .elementor-element.elementor-element-2f31346 .hfe-nav-menu__layout-vertical .menu-item ul ul a.hfe-sub-menu-item {
    padding-left: calc( 15px + 40px);
    padding-right: 15px;
}

.elementor-1488 .elementor-element.elementor-element-2f31346 .hfe-nav-menu__layout-vertical .menu-item ul ul ul a.hfe-sub-menu-item {
    padding-left: calc( 15px + 60px);
    padding-right: 15px;
}

.elementor-1488 .elementor-element.elementor-element-2f31346 .hfe-nav-menu__layout-vertical .menu-item ul ul ul ul a.hfe-sub-menu-item {
    padding-left: calc( 15px + 80px);
    padding-right: 15px;
}

.elementor-1488 .elementor-element.elementor-element-2f31346 .menu-item a.hfe-menu-item,
.elementor-1488 .elementor-element.elementor-element-2f31346 .menu-item a.hfe-sub-menu-item {
    padding-top: 15px;
    padding-bottom: 15px;
}

.elementor-1488 .elementor-element.elementor-element-2f31346 .sub-menu a.hfe-sub-menu-item,
.elementor-1488 .elementor-element.elementor-element-2f31346 .elementor-menu-toggle,
.elementor-1488 .elementor-element.elementor-element-2f31346 nav.hfe-dropdown li a.hfe-menu-item,
.elementor-1488 .elementor-element.elementor-element-2f31346 nav.hfe-dropdown li a.hfe-sub-menu-item,
.elementor-1488 .elementor-element.elementor-element-2f31346 nav.hfe-dropdown-expandible li a.hfe-menu-item,
.elementor-1488 .elementor-element.elementor-element-2f31346 nav.hfe-dropdown-expandible li a.hfe-sub-menu-item {
    color: var( --e-global-color-bd67e54);
}

.elementor-1488 .elementor-element.elementor-element-2f31346 .sub-menu,
.elementor-1488 .elementor-element.elementor-element-2f31346 nav.hfe-dropdown,
.elementor-1488 .elementor-element.elementor-element-2f31346 nav.hfe-dropdown-expandible,
.elementor-1488 .elementor-element.elementor-element-2f31346 nav.hfe-dropdown .menu-item a.hfe-menu-item,
.elementor-1488 .elementor-element.elementor-element-2f31346 nav.hfe-dropdown .menu-item a.hfe-sub-menu-item {
    background-color: #fff;
}

.elementor-1488 .elementor-element.elementor-element-2f31346 .sub-menu .menu-item.current-menu-item a.hfe-sub-menu-item.hfe-sub-menu-item-active,
.elementor-1488 .elementor-element.elementor-element-2f31346 nav.hfe-dropdown .menu-item.current-menu-item a.hfe-menu-item,
.elementor-1488 .elementor-element.elementor-element-2f31346 nav.hfe-dropdown .menu-item.current-menu-ancestor a.hfe-menu-item,
.elementor-1488 .elementor-element.elementor-element-2f31346 nav.hfe-dropdown .sub-menu .menu-item.current-menu-item a.hfe-sub-menu-item.hfe-sub-menu-item-active {
    color: var( --e-global-color-3bf63e3);
}

.elementor-1488 .elementor-element.elementor-element-2f31346 .sub-menu a.hfe-sub-menu-item,
.elementor-1488 .elementor-element.elementor-element-2f31346 nav.hfe-dropdown li a.hfe-menu-item,
.elementor-1488 .elementor-element.elementor-element-2f31346 nav.hfe-dropdown li a.hfe-sub-menu-item,
.elementor-1488 .elementor-element.elementor-element-2f31346 nav.hfe-dropdown-expandible li a.hfe-menu-item,
.elementor-1488 .elementor-element.elementor-element-2f31346 nav.hfe-dropdown-expandible li a.hfe-sub-menu-item {
    padding-top: 15px;
    padding-bottom: 15px;
}

.elementor-1488 .elementor-element.elementor-element-2f31346 .sub-menu li.menu-item:not(:last-child),
.elementor-1488 .elementor-element.elementor-element-2f31346 nav.hfe-dropdown li.menu-item:not(:last-child),
.elementor-1488 .elementor-element.elementor-element-2f31346 nav.hfe-dropdown-expandible li.menu-item:not(:last-child) {
    border-bottom-style: solid;
    border-bottom-color: #c4c4c4;
    border-bottom-width: 1px;
}

.elementor-1488 .elementor-element.elementor-element-2f31346 .hfe-flyout-close {
    color: #7A7A7A;
}

.elementor-1488 .elementor-element.elementor-element-2f31346 .hfe-flyout-close svg {
    fill: #7A7A7A;
}

.elementor-1488 .elementor-element.elementor-element-2f31346>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-1488 .elementor-element.elementor-element-2f31346 {
    width: var( --container-widget-width, 43.665%);
    max-width: 43.665%;
    --container-widget-width: 43.665%;
    --container-widget-flex-grow: 0;
}

.elementor-1488 .elementor-element.elementor-element-2f31346.elementor-element {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-1488 .elementor-element.elementor-element-b5d281a {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-1488 .elementor-element.elementor-element-b5d281a:not(.elementor-motion-effects-element-type-background),
.elementor-1488 .elementor-element.elementor-element-b5d281a>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFDFD;
}

.elementor-1488 .elementor-element.elementor-element-b5d281a,
.elementor-1488 .elementor-element.elementor-element-b5d281a::before {
    --border-transition: 0.3s;
}

.elementor-1488 .elementor-element.elementor-element-1ef1954 .elementor-nav-menu .elementor-item {
    font-weight: 600;
}

.elementor-1488 .elementor-element.elementor-element-1ef1954 .elementor-nav-menu--main .elementor-item {
    color: var( --e-global-color-bd67e54);
    fill: var( --e-global-color-bd67e54);
}

.elementor-1488 .elementor-element.elementor-element-1ef1954 .elementor-nav-menu--main .elementor-item:hover,
.elementor-1488 .elementor-element.elementor-element-1ef1954 .elementor-nav-menu--main .elementor-item.elementor-item-active,
.elementor-1488 .elementor-element.elementor-element-1ef1954 .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-1488 .elementor-element.elementor-element-1ef1954 .elementor-nav-menu--main .elementor-item:focus {
    color: var( --e-global-color-3bf63e3);
    fill: var( --e-global-color-3bf63e3);
}

.elementor-1488 .elementor-element.elementor-element-1ef1954 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:before,
.elementor-1488 .elementor-element.elementor-element-1ef1954 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:after {
    background-color: var( --e-global-color-3bf63e3);
}

.elementor-1488 .elementor-element.elementor-element-1ef1954 .e--pointer-framed .elementor-item:before,
.elementor-1488 .elementor-element.elementor-element-1ef1954 .e--pointer-framed .elementor-item:after {
    border-color: var( --e-global-color-3bf63e3);
}

.elementor-1488 .elementor-element.elementor-element-1ef1954 .elementor-nav-menu--main .elementor-item.elementor-item-active {
    color: var( --e-global-color-3bf63e3);
}

@media(max-width:767px) {
    .elementor-1488 .elementor-element.elementor-element-e457eef {
        --flex-direction: row;
        --container-widget-width: initial;
        --container-widget-height: 100%;
        --container-widget-flex-grow: 1;
        --container-widget-align-self: stretch;
        --flex-wrap: nowrap;
        border-width: 0px 0px 1px 0px;
        --border-top-width: 0px;
        --border-right-width: 0px;
        --border-bottom-width: 1px;
        --border-left-width: 0px;
    }
    .elementor-1488 .elementor-element.elementor-element-6342300 {
        --width: 31%;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }
    .elementor-1488 .elementor-element.elementor-element-506baae {
        --width: 100%;
        --flex-direction: row;
        --container-widget-width: initial;
        --container-widget-height: 100%;
        --container-widget-flex-grow: 1;
        --container-widget-align-self: stretch;
        --flex-wrap: nowrap;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }
    .elementor-1488 .elementor-element.elementor-element-506baae.e-con {
        --align-self: center;
    }
    .elementor-1488 .elementor-element.elementor-element-8d2c900 {
        width: var( --container-widget-width, 53.217px);
        max-width: 53.217px;
        --container-widget-width: 53.217px;
        --container-widget-flex-grow: 0;
    }
    .elementor-1488 .elementor-element.elementor-element-b9b0e21 {
        width: var( --container-widget-width, 53.217px);
        max-width: 53.217px;
        --container-widget-width: 53.217px;
        --container-widget-flex-grow: 0;
    }
    .elementor-1488 .elementor-element.elementor-element-9728b57>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-1488 .elementor-element.elementor-element-9728b57 {
        width: var( --container-widget-width, 55.217px);
        max-width: 55.217px;
        --container-widget-width: 55.217px;
        --container-widget-flex-grow: 0;
    }
    .elementor-1488 .elementor-element.elementor-element-f046137 {
        --width: 15%;
        --justify-content: center;
        --align-items: flex-end;
        --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }
    .elementor-1488 .elementor-element.elementor-element-f046137.e-con {
        --order: 99999/* order end hack */
        ;
    }
    .elementor-1488 .elementor-element.elementor-element-2f31346 .hfe-nav-menu__toggle,
    .elementor-1488 .elementor-element.elementor-element-2f31346 .hfe-nav-menu-icon {
        margin-left: auto;
    }
    .elementor-1488 .elementor-element.elementor-element-2f31346>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-1488 .elementor-element.elementor-element-2f31346 {
        width: var( --container-widget-width, 69px);
        max-width: 69px;
        --container-widget-width: 69px;
        --container-widget-flex-grow: 0;
    }
    .elementor-1488 .elementor-element.elementor-element-2f31346.elementor-element {
        --align-self: center;
    }
    .elementor-1488 .elementor-element.elementor-element-b5d281a {
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 10px;
        --padding-bottom: 10px;
        --padding-left: 0px;
        --padding-right: 0px;
    }
}

@media(min-width:768px) {
    .elementor-1488 .elementor-element.elementor-element-cd2ed4f {
        --width: 11%;
    }
    .elementor-1488 .elementor-element.elementor-element-35a3c36 {
        --width: 65%;
    }
    .elementor-1488 .elementor-element.elementor-element-60724ef {
        --width: 50%;
    }
    .elementor-1488 .elementor-element.elementor-element-9fe4c32 {
        --width: 5%;
    }
    .elementor-1488 .elementor-element.elementor-element-6342300 {
        --width: 14%;
    }
    .elementor-1488 .elementor-element.elementor-element-506baae {
        --width: 14%;
    }
    .elementor-1488 .elementor-element.elementor-element-f046137 {
        --width: 17.1%;
    }
}